@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --card-background: #ffffff;
  --border-color: #e5e5e5;
  --header-background: #fafbff;
  --modal-border-color: #e3e3e3;
  --warning-modal-background: #000000;
}

body {
  color: var(--text-primary);
  background: var(--background);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  /* Width for Chrome, Safari, Edge */
  height: 4px;
  /* Height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Track color (the area behind the thumb) */
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: #759C45;
  /* Thumb color */
  border-radius: 0.75rem;
  /* Rounded corners */
}

/* For Firefox */
* {
  scrollbar-color: #759C45 transparent;
  scrollbar-width: thin;
}